%type-copy {
  font: normal #{$base-line}/#{$base-lead} "Bitter", Georgia, serif;
  word-spacing: 1px;
}

%type-copy-meta {
  font-size: $meta-size;
  opacity: .6;
}

%type-heading {
  font: {
    family: "Roboto", Helvetica, Arial, sans-serif;
    weight: 500;
  }
  line-height: 1.2em;

  .no-fontface & {
    font-weight: bold;
  }
}

%type-code {
  font: normal 1em "Source Code Pro", Inconsolata, Consolas, sans-serif;
}

%type-quoted {
  $size: 1em;

  @mixin shared {
    display: block;
    font: { size: 4em; weight: 700; }
    opacity: .2;
    position: relative;
    .no-fontface & { font-weight: bold; }
  }

  margin: { bottom: -$size; top: -$size; }

  &::before {
    @include shared;
    content: open-quote;
    left: -$size * .6;
    top: $size * .6;
  }

  &::after {
    @include shared;
    content: close-quote;
    left: 100%;
    top: -$size * .2;
  }
}

%type-link {
  color: $blue-1;
  font-weight: 500;
  text-decoration: none;
  transition: color .3s ease-in-out;

  .body &,
  nav & {
    text-shadow: 0 1px light(1);
  }

  &:hover,
  &:focus,
  &:active {
    color: $blue-1-lt;
  }
}

%type-control {
  font: {
    family: "Roboto", Helvetica, Arial, sans-serif;
    weight: 500;
  }
  line-height: 1.2em;

  .no-fontface & {
    font-weight: bold;
  }
}

%type-glyph {
  font-family: FontAwesome;
  line-height: 1;
  text-decoration: none;
}
